<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="example.demo.mapper.IStudentMapper">

    <!--<select id="queryByCondition" parameterType="map" resultType="map">
        SELECT
        td.d_num dNum,
        td.device_model deviceModel,
        td.register_time registerTime,
        tdo.res,
        tdo.dept_name deptName
        FROM t_device td
        LEFT JOIN t_device_org tdo ON td.org_id = tdo.id
        <where>
            <if test="search != null and search != '' ">
                <bind name="search" value="'%'+search+'%'"/>
                AND (td.d_num LIKE #{search}
                OR td.mac LIKE #{search}
                OR tdo.dept_name LIKE #{search})
            </if>
        </where>
        order by td.d_num
    </select>-->

    <!--设备详情-->
    <!--<select id="deviceDetail" parameterType="map" resultType="map">
        SELECT
        td.id deviceId,
        td.d_num dNum,
        td.device_model deviceModel,
        td.register_time registerTime,
        td.version version,
        td.os_version osVersion,
        td.mac,
        td.sn,
        td.disk_size diskSize,
        tde.direction,
        (select  MAX(tdol.create_date) from t_device_online_log tdol
        where tdol.device_id = td.id GROUP BY tdol.device_id and tdol.active = 1) latestOnlineTime,
        tdo.res,
        tdo.dept_name deptName,
        tc.city_name cityName,
        tc.area
        FROM t_device td
        LEFT JOIN t_device_org tdo ON td.org_id = tdo.id
        LEFT JOIN t_device_edge tde ON td.id = tde.device_id
        LEFT JOIN t_city tc ON tc.id = td.city_id
        WHERE td.d_num = #{dNum}
        order by td.d_num
    </select>-->

    <!--设备在线状态-->
    <!--<select id="getDeviceActive" parameterType="map" resultType="int">
        SELECT
        active
        FROM t_device_online_log
        WHERE device_id = #{deviceId}
        order by create_date desc
        limit 1
    </select>-->

</mapper>